*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// VARIABLES & GLOBAL STYLES

$main-font: 'Roboto', sans-serif;
$cursive-font: 'Cormorant Garamond', serif;
$title-font: 'Nunito Sans', sans-serif;
$subtitle-font: 'Marck Script', cursive;
$main-color: #fed136;
$light-color: #fff;
$grey-color: #aaaaaa;
$footer-text-color: #5b5a5a;

.container {
	max-width: 1140px;
	padding: 50px 25px;
	margin: 0 auto;
}

.section-title {
	text-transform: uppercase;
	font-family: $main-font;
	font-size: 36px;
	font-weight: 900;
	text-align: center;
}

.section-subtitle {
	font-family: $cursive-font;
	color: $grey-color;
	font-size: 22px;
	text-align: center;
	font-weight: 700;
	font-style: italic;
}

// NAV SECTION

.nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	&__logo {
		color: $main-color;
		font-family: $subtitle-font;
		font-size: 24px;
	}

	&__container {
		padding: 10px 25px;

		.navbar-nav {
			.nav-link {
				color: $light-color;
				display: inline-block;
				margin-left: auto;
				width: 40%;
				text-align: right;
				padding: 5px 30px;
				background-color: rgba(0, 0, 0, 0.4);

				&:hover {
					color: $main-color;
				}
			}
		}
	}

	&__btn {
		border: none;

		&-icon {
			background-image: url('../img/icons8-menu.svg');
		}
	}
}

// HEADER SECTION

.splash {
	position: relative;
	height: 100vh;
	background-image: url('../img/header-bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	&__box {
		text-align: center;
		color: white;
		z-index: 1;

		&-subtitle {
			font-size: 32px;
			font-family: $subtitle-font;
		}

		&-title {
			font-size: 40px;
			font-family: $title-font;
			font-weight: 700;
			padding: 5px 10px;
			text-transform: uppercase;
		}

		&-btn {
			text-transform: uppercase;
			border: none;
			border-radius: 5px;
			background-color: $main-color;
			padding: 12px 24px;
			margin-top: 10px;
			font-family: $main-font;
			font-weight: 700;
			color: $light-color;
		}
	}
}

//SERVICES SECTION

.services {
	&__cards {
		margin-top: 60px;
	}

	&__card {
		margin-bottom: 25px;
		padding: 10px 5px;
		text-align: center;

		&-icon-box {
			position: relative;
			height: 60px;
			width: 60px;
			border-radius: 50%;
			border: 3px solid $main-color;
			margin: 0 auto 15px;
		}

		&-icon {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			font-size: 32px;
			color: $main-color;
			padding: 18px;
		}

		&-title {
			font-weight: 700;
			font-size: 26px;
		}

		&-text {
			color: $grey-color;
			margin-top: 14px;
			font-size: 20px;
			font-weight: 700;
			font-family: $cursive-font;
		}
	}
}

// PORTFOLIO SECTION

.portfolio {
	background-color: #f1f1f1;
	&__cards {
		margin-top: 60px;
	}

	&__card {
		margin: 60px 0;
		&-img-box {
			height: 200px;
		}

		&-img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}

		&-info {
			text-align: center;
			padding: 15px 2px;
			background-color: $light-color;
		}

		&-title {
			font-size: 24px;
			font-weight: 700;
		}

		&-subtitle {
			color: $grey-color;
			font-family: $cursive-font;
			font-size: 22px;
			font-style: italic;
			font-weight: 700;
		}
	}
}

// FOOTER SECTION

.footer {
	&__text {
		text-align: center;
		font-weight: 700;
		color: $footer-text-color;
	}

	&__icons {
		text-align: center;
	}

	&__icon {
		display: inline-block;
		height: 30px;
		width: 30px;
		// padding: 10px;
		margin: 0 5px;
		background-color: rgb(28, 28, 28);
		border-radius: 50%;
		color: $light-color;
		line-height: 30px;
	}
}
